@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;600;700;800;900&family=Oswald:wght@600&family=Poppins&family=Roboto:wght@900&display=swap");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 303px;
  height: 433px;
  position: relative;
  overflow: hidden;
}

.card:hover::after {
  opacity: 75%;
}

.card:hover .image img {
  transform: scale(1.1);
}

.card:hover .contents {
  transform: translateY(0);
}

.card:hover .info {
  transform: translateY(20px);
}

.card::after {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  clear: both;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}

.card .image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .contents {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(100%);
  transition: 1s;
  z-index: 999;
}

.card .image img {
  height: 100%;
  transition: 1s;
}

.card .title {
  text-align: center;
}

.card .info {
  position: absolute;
  color: #000;
  top: 0;
  left: 0;
  z-index: 9;
  transition: 1s;
  transform: translateY(350%);
  font-weight: bold;
  width: 100%;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn {
  width: 90px;
  height: 30px;
  background-color: #fff;
  border: #000;
  border-radius: 100px;
  color: #000;
}
